h1 {
    margin-bottom: 5%;
}

.end-container {
    display: flex;
    justify-content: space-between;
}

.final-score {
    border: 1px solid pink;
    padding: 2%;
    width: 30%;
}

.current-result {
    margin-bottom: 3%;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    width: 40%;
}

.best-scores {
    border: 1px solid pink;
    padding: 2%;
    width: 30%;
}