h1 {
    margin-bottom: 3%;
}

h2 {
    margin-bottom: 5%;
    color: pink;
}

.end-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.final-score {
    text-align: center;
    border: 1px solid pink;
    padding: 2%;
    width: 40%;
}

.current-result {
    margin-bottom: 3%;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    width: 40%;
}

.best-scores {
    text-align: center;
    border: 1px solid pink;
    padding: 2%;
    width: 40%;
}